version: '2'

services:
  postgresql:
    image: docker.io/bitnami/postgresql:14
    ports:
      - '5432:5432'
    volumes:
      - 'postgresql_data:/bitnami/postgresql'
    environment:
      - 'POSTGRESQL_PASSWORD=${POSTGRES_PASSWORD}'
      - 'POSTGRESQL_DATABASE=${POSTGRES_DB}'
      - 'POSTGRESQL_USERNAME=${POSTGRES_USER}'

  redis:
    image: docker.io/bitnami/redis:6.2
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'
    volumes:
      - 'redis_data:/bitnami/redis/data'


volumes:
  redis_data:
    driver: local
  postgresql_data:
    driver: local